<!doctype html>
<html>
<head>
	<title>GeneraList - Login</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>


<div class="container">

	<!-- MESSAGES THAT COME BACK FROM AUTH PROCESS -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<form action="/login" method="post">

		<div class="form-group">
			<label>Username</label>
			<input type="text" class="form-control" name="username">
		</div>

		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password"
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Login</button>

	</form>

	<p>Or <a href="/signup">signup</a></p>

</div>


</body>
</html>